@import "tailwindcss";
@import "@heroui/styles";


.Toastify__toast--success {
    border: 1px solid #0ec74c !important;
    background-color: #1a1a1a !important;
    color: #ffffff !important;
}

.Toastify__progress-bar--success {
    background: #0ac451 !important;
}


.Toastify__toast--error {
    border: 1px solid #ef4444 !important;
    background-color: #1a1a1a !important;
    color: #ffffff !important;
}

.Toastify__progress-bar--error {
    background: #ef4444 !important;
}

@keyframes spin-slow {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

.animate-spin-slow {
    animation: spin-slow 4s linear infinite;
}